



.titulo {
    display: flex;
    flex-direction: column;
    padding-left: 400px;

}

.contenedor-personas {
    display: flex;
    justify-content: space-between;
    padding-left: 400px;
}

.formas {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

label {
    margin-bottom: 5px;
}

.input {
    margin-bottom: 15px;
}

.imagen {
    display: flex;
    flex-direction: column;
    margin-top: 2px;


}

.imagen img {
    margin-bottom: 33px;
    margin-top: 0.8px;
    width: 6.1%;

}

input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
}


.bloque{
    display: flex;
    flex-direction: row;
    padding-left: 400px;
    gap: 15px;
}

.bloque img{
    width: 2.5%;
}

.precio{
    display: flex;
    background-color: black;
    gap: 40px;
    width: 4%;
    margin-left: 400px;
    margin-top: 20px;
    height: 40px;
}

.precio p{
    color: white;
    font-size: 20px;
    padding: 0px 10px;
    margin-top: 10px;

}

.precio .boton{
    border-radius: 12px;
    background-color: rgb(255, 255, 9);
    padding: 0px 50px;
    cursor: pointer;
    font-size: 16px;
    height: 40px;
    

}

.boton:hover {
    background-color: #ff9900; 
}

footer {
    padding-top: 85px;
}

