body {
    padding: 0px;
    margin: 0px;
    background-color: #FAF3E0;
}

header {
    background-color: yellow;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f8f9fa;
}

header nav input[type="search"] {
    padding: 5px;
    width: 30%;
    height: 30px;
    border-radius: 5%;
    outline: none;
}

header nav .Carrito {
    display: flex;
    height: 60px;
}

header nav .Carrito img {
    width: 35px;
    height: 35px;
    padding-top: 10px;
}

header nav .Carrito p{
    padding-top: 10px;
}

header nav .Logo {
    display: flex;
    width: -100px;
    height: 60px;
    padding-bottom: 10px;
}

header .menuprincipal {
    display: flex;
    justify-content: space-around;
    /* Espacio uniforme entre los elementos */
    padding: 20px 5%;
    /* Relleno opcional */
    background-color: #e9ecef;
}

.menuprincipal a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    font-weight: bold;
}

.menuprincipal a:hover {
    color: #007bff;
}

.img_Menu img {
    display: block;
    max-width: 100%;
    height: auto;
}


/*----MAIN-----*/

.contenedor{
    padding-left: 50px;
}

.contenedor .contenedor-personas{
    display: flex;
    justify-content: space-around;
}

footer {
    padding-top: 10px;
}

footer .Nosotros {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 30px;
    gap: 30px;
    background-color: aquamarine;
}

footer .Nosotros .paso2 {
    background-color: brown;
    padding: 20px;
    color: white;
    flex: 1;
    text-align: center;
}