header nav .Logo img {
    display: flex;
    width: -100px;
    height: 60px;
    padding-bottom: 10px;
}

.curso-detalle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.curso-imagen img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.curso-info {
    flex: 1;
    margin-left: 20px;
}

.docente-detalle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.docente-info {
    flex: 1;
    margin-left: 20px;
}

.docente-imagen img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.clases-detalle {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 30px;
}

.clase {
    flex: 1 1 45%;
    margin: 10px;
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 5px;
}

.clase h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.clase ul {
    list-style-type: none;
    padding: 0;
}

.clase li {
    background-color: #fff;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
}

.detalle-cursos {
    margin-bottom: 30px;
}

.detalle-cursos h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    text-align: center;
}

.detalle-cursos-list {
    display: flex;
    justify-content: space-between;
}

.curso-relacionado {
    flex: 1 1 30%;
    margin: 0 10px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}

.python-imagen img, .php-imagen img, .javascript-imagen img, .sql-imagen img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}