.contenedores-generales {
    font-family: 'Montserrat', sans-serif;
}

.contenedor-contacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.contenedor-formulario-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15em;
}

.contenedor-formulario-contacto h1 {
    text-decoration: 0.1em underline;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tamano-input-contacto {
    width: 25em;
    height: 3em;
}

.boton-contacto {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.contenedor-datos1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-datos2 {
    padding: 2em;
    border: 1px solid black;
    margin-right: 15em;
}

.contenedor-datos2 h1 {
    text-decoration: 0.1em underline;
}

.contenedor-mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}